<a href="https://colab.research.google.com/github/Asiiifa/Data-science-python-/blob/main/PythonDay2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
word = input("Enter a string: ")

first_char = word[0]
last_char = word[-1]

special_chars = "!@#$%^&*()-_=+[]{}|;:'\",.<>?/\\`~"

if ('A' <= first_char <= 'Z') or ('a' <= first_char <= 'z'):
    first_is_alphabet = True
else:
    first_is_alphabet = False

if first_is_alphabet and last_char in special_chars:
    print(" Valid string")
else:
    print(" Invalid string")

In [ ]:
#LOOP STATEMENTS
# for loop=when we know the no of repetation
# while loop

In [ ]:
# ##FOR LOOP
# syntax
#

In [ ]:
name= 'Akash'
print(name[0])

In [ ]:
lnames = ['Akash', 'Aman', 'Saurabh', 'Prince']
for name in lnames:
    print(name,name[0])

In [ ]:
#name= input("Name: ")
lnames = ['Akash', 'Aman', 'Saurabh', 'Prince']
for name in lnames:
  if name[0] in 'aeiouAEIOU':
    print(name,'Yes')
  else:
    print(name,'No')

In [ ]:
#name= input("Name: ")
lnames = ['Akash', 'Aman', 'Saurabh', 'Prince']
for name in lnames:
  if name[0] in 'aeiouAEIOU':
    print(name)

In [ ]:
l=[758,82,9634,425,5,1205]
for num in l:
  num_div = str(num)
  if len (num_div) >= 2:
    second = int(num_div[1])
    if second % 2 == 0:
      print(num)

In [ ]:
l=[758,82,9634,425,5,1205]
for num in l:
  a= num//10
  b= a % 10
  if b % 2 == 0:
   print(num)

In [ ]:
l=[70,82,9634,425,5,1205]
for num in l:
  snum = str(num)
  if len(snum) >= 1:
    last2= snum[-2:]
    ilast = int(last2 )
    if ilast % 2 == 0:
      print(num)

In [ ]:
#RANGE FUNCTION
#IT generates a sequence of integers in a given rangw

In [ ]:
list(range(5))

In [ ]:
list(range(2,5))

In [ ]:
list(range(5,25,2))

In [ ]:
lnames = ['Akash', 'Aman', 'Saurabh', 'Prince']
for i in range(len(lnames)):
  name = lnames[i]
  if name[0] in 'aeiouAEIOU':
    print(name)

'''DRY RUN
len(lnames) =4
range(4)=0,1,2,3
i  name  name[]  ifCon  print
0  akash    A     True   Akash
1  amam     A     True   Aman
2  saurabh  S     False
3  prince   P     False '''

In [ ]:
#WAP to print the squares of  first n natural numbers

n= int(input("Enter the value of n: "))
for i in range(1,n+1):
    print(i**2)

In [ ]:
#WAP to print those lists in which the 2nd last element is a square of the first element
l= [[3,9],[8,16],[4,16],[1,1]]
for i in l:
    if i[0]**2==i[1]:
        print(i)
#           OR

for a,b in l:
  if a**2==b:
    print(a,b)

In [ ]:
#WAP to print the count of numerical vales in the list
l=[74,'hi', 'hello',45,23,12]
count = 0
for i in l:
  if type(i) == int:
    count += 1
print(count)

In [ ]:
#WAP to print those elements for which the index is either a multiple of 3 or 7
l=[74,'hi', 'hello',45,23,12,71,85,24,'10']
for i in range(len(l)):
  if i % 3 == 0 or i % 7 == 0:
    print(l[i])

In [ ]:
#WAP to check whether a number is a prime or not
num= int(input("Enter a number: "))
for i in range(2,num):
  if num % i ==0:
    print("Not a prime no.")
    break
else:
    print("Prime no.")

In [ ]:
#WAP to check whether a number is a prime or not
num= int(input("Enter a number: "))
if num <= 1:
  print("Not a prime no.")
elif num > 1:
  prime=True
  for i in range(2,num):
    if num % i ==0:
      prime=False
      break

  if prime==  True:
    print("Prime no.")
  else:
    print("Not a prime no.")

In [ ]:
#         WHILE LOOP
#syntax

'''initialization
while condition:
  task 1
  task
  increment/decrement'''

In [ ]:
#WAP to print first n natural number
n= int(input("Enter the value of n: "))
i=1
while i<=n:
  print(i)
  i+=1

In [ ]:
s1 ='Shahrukh Khan'
s2 = 'khan'
s3='90'
s4=s1+s3
s4

In [ ]:
'2' + '3'  #CONCATENATION

In [ ]:
##SLICING
s='HOW ARE YOU??'
f=s[:]
f

In [ ]:
##SLICING
s='HOW ARE YOU??'
f=s[::-1]
f

In [ ]:
#METHODS ON LIST
l=[]  #EMPTY
l.append('akashh')
l.append('RISHI')
print(l)

In [ ]:
#WAP to add names to a list till the user enters stop
l=[]
inp=''
while inp!='stop':
    inp=input('Enter a name: ')
    if inp!='stop':
        l.append(inp)
print(l)

In [ ]:
l=[74,'hi', 'hello',45,23,12]
l.insert(2,'akash')
l

In [ ]:
l=[74,'hi', 'hello',45,23,12]
l.remove(74)
l

In [ ]:
l=[74,'hi', 'hello',45,23,12]
l.pop(1)
l

In [ ]:
l=[74,'hi', 'hello',45,23,12]
l.clear()
l

In [ ]:
l=[74,'hi', 'hello',45,23,12]
l.reverse()
l

In [ ]:
l=[7,45,23,12]
l.sort()
l

In [ ]:
l=[7,45,23,12]
l.sort(reverse=True)
l